<!DOCTYPE html>
<html lang="en" >
<head>
  <title>
    Blue - Be Social  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!--Fav Icons      -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/imgs/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/imgs/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/imgs/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/imgs/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/imgs/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/imgs/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/imgs/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/imgs/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/imgs/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/imgs/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/imgs/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/imgs/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/imgs/favicon/favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="assets/css/style.css">
  
</head>
<body>
	<div class="my-name create-account wel-back">
  <div class="container">
    <div class="row">
      <form>
        <div class="col-12">
          <div class="login1">
            <a href="register.html" class="account1">Don’t have an account?</a>
            <a href="register.html" class="log-in">SIGN UP</a>
          </div>
          <div class="logo">
            <a href="#"><img src="assets/imgs/blue-logo.png" alt="logo"></a>
          </div>
          <div class=" headline">
            <h1>Welcome back, To Blue!</h1>
          </div>
          <div class="headline">
            <p class="p1">Enter your email address and password to access your account.</p>
          </div>
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder="Password" required>
          <a href="profile.html" class="btn w-100prc" type="submit" id="submitBtn">Log In</a>
          <a href="reset_password" class="forgot">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div></body>
<script src="assets/js/jquery-1.12.4.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>

<!-- Load inline external files -->
<script type="text/javascript" src="assets/js/jquery-ui.js" class="aScriptFile"></script>
<script type="text/javascript" src="assets/js/jquery.ui.touch-punch.js" class="aScriptFile"></script>
<script type="text/javascript" src="assets/js/auto-type.js" class="aScriptFile"></script>
<!-- Load inline external files; -->

</body>
</html>